[relative] {
  position: relative !important; }

[inline-block] {
  display: inline-block !important; }

ui-title {
  display: block; }

[ui-borderless] {
  border: none !important; }

[fill-horizontal] {
  width: 100%; }

[fill-vertical] {
  height: 100%; }

[corner-top="0"] {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

[vertical-center-outer] {
  position: relative; }
  [vertical-center-outer] [vertical-center-inner] {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em; }
  [vertical-center-outer] [horizontal-center-inner] {
    position: absolute;
    left: 50%;
    width: 10em;
    margin-left: -5em; }
